@import "./variables.less";
#custom-article {
    @media (width <= @max-size-before-element-reaction) {
        margin: 0;
    }
    margin: 0 15%;
    padding: @article-top-padding @article-side-padding;
    background-color: @article-color;
    min-height: 100vh;
}

#custom-article section {
    @media (width <= @max-size-before-element-reaction) {
        padding: 0;
    }

    overflow-x:auto;
    // padding: 0 ;

    figure {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    p, ul, li, table, figure, section {
        margin: @margin-size;
    }

    h {margin: 0 @header-margin-size;}

    table {border-collapse: collapse;}

    tr {border-bottom: 1px solid;}
    td {padding: @standard-padding;}
}


 

// .centered-contents {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .spaced-content {
//     margin: @margin-size;
// }