@import "./variables.less";

.button-basic {
    padding: @standard-padding @standard-padding;
    outline: none;
    border-radius: 0.2em;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0.50em;

    .animate-hover();
    .button-hover();
}

.button-text {
    background: transparent;
    .regular-text();
    .button-basic();

    &:hover {
        text-decoration: underline;
    }
}

.button-hover {
    &:hover {
        cursor: pointer; 
    }
}

.card-button {
    flex: 0 0 30%;
    .bordered();
    .card();
    .animate-hover();
    .button-hover();
    
    &:hover {
        .bordered-heavy();
        .outlined-highlight();
        .neon-light-box-shadow-pop();
    }
}

.button-primary {
    background: @pop-color;
    &:hover {
        background-color: transparent;
        color: @pop-color;
        outline: @pop-color;
        .bordered-heavy-pop();
        
    }
    .button-basic();
}

.button-secondary {
    
}

.button-tertiary  {
    
}

.icon-tertiary  {
    
}