@import "./variables.less";

#footer {
    // display: flex;
    // flex-direction: row;
    background-color: @article-color-2;
    .regular-text;

    .centered {
         display: inline-flex;
    }

    #sections {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
    }

    #design-section {
        // background-color: @article-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        img {
            // aspect-ratio: 1;
            max-height: 10em;
        }
        flex-grow: 2;
    }

    #contacts-section {
        // background-color: @article-color;

        flex-grow: 1;
    }
}