@import "./variables.less";

#navigation {
    .flex-row;

    padding: 0 3*@section-padding; 
    max-width: 100vw;

    justify-content: space-between;

    .nav-elements {
        display: flex; 
        justify-content:space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    @media only screen and (max-width: @max-size-before-element-reaction) {
        .nav-elements {
            flex-direction: column;
            height: auto;
        }
        .dividers {
            display: none;
        }
    }
}

