@import "./links.less";
@import "./navigation.less";
@import "./fonts.less";
@import "./variables.less";
@import "./article.less";
@import "./game.less";
@import "./carousel.less";
@import "./toolTip.less";
@import "./paneledOptions.less";
@import "./footer.less";
@import "./modal.less";
@import "./buttons.less";
@import "./image.less";

.link {
    text-decoration: none;
    .regular-text;
}

.unimportant-link {
    .regular-text;
    .link;
}



.fading-image-to-bottom {
  /* bottom fading */
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
}

.bordered {
    border: solid 1px @border-color ;
}

.bordered-heavy {
    border: solid 2px @border-color;
}

.bordered-heavy-pop {
    border: solid 2px @pop-color;
}

.bordered-heavy-emphasize {
    border: solid 2px @emphasized-text-color;
}

.neon-light-box-shadow-pop {
    box-shadow: 
        0.2em 0.2em 1.2em @pop-color, 
        -1 * 0.2em -1 * 0.2em 1.2em @pop-color;
}


.outlined {
    outline: @border-color;
}

.outlined-highlight {
    outline: @emphasized-text-color;
}

.centered {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.wrappable {
    flex-wrap: wrap;
}

.padded {
    padding: 0.75em 0.75em;
}

.padded-large {
    padding: 1.5em 1.5em;
}

.padded-x-large {
    padding: 3em 3em !important;
}

.turn-to-column-with-phone {
    @media (width <= @max-size-before-element-reaction) {
        flex-direction: column !important;
    }
}

.spaced-evenly-row {
    justify-content: space-evenly;
    .flex-row;
}

.space-around-row {
    justify-content: space-evenly;
    .flex-row;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.title-text {
    font-size: 40px;
    font-weight: bolder;
}

.emphasized-text {
    color: @emphasized-text-color;
    font-size: 1.05em;
}

.small-separation {
    margin-bottom: 0.5em;
}

.list {
    background-color: @article-color;
    list-style-type: disc;
    padding-left: 1.5rem;      /* Ensures the bullet isn't cut off */
    margin-bottom: 1rem;
}

.list-item {
    margin-left: 1.5em;
    
    margin-bottom: 0.5rem;     /* Adds space between individual points */
    line-height: 1.6;

}

.regular-text {
 color: @regular-text-color;
}

.emphasized-card {
    background-color: @pop-color;
    .card;
}

.card {
    border-radius: 1em;
    .padded;
}

body {
    background-color: @article-color;
    .emphasized-text;
    
    // @media (width <= @max-size-before-element-reaction) {font-size: @small-font-size;}

    font-size: @body-font-size;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.icon {
    aspect-ratio: 1;
    max-height: 1.5em;    
    transition: transform 0.3s ease-in-out;
}

.button-icon {
    aspect-ratio: 1;
    max-height: 1.5em;    
    transition: transform 0.3s ease-in-out;
}

.button-link {
    display: flex;
    align-content: center;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    padding: 0; 
    margin: 0;

    // font-family: inherit;
    font-family: Inter, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: inherit;
}

@media print {
    #footer, #nav-bar, .remove-when-print{
        display: none !important;
    }

    .print-remove-padding {
        padding: 0em !important;
    }
    
    .print-reduce-margin {
        margin: 0.3em !important;
    }
}

#main-website-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    background-color: @fade-background-color;

    nav {
        flex-grow: 1;
    }

    main {
        flex-grow: 3;
    }

    footer {
        flex-grow: 1;
    }
}

#main-view {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.standard-padding {
    padding: @standard-padding @standard-padding;
}