@import "./links.less";
@import "./navigation.less";
@import "./fonts.less";
@import "./variables.less";
@import "./article.less";
@import "./game.less";
@import "./characterCreation.less";
@import "./carousel.less";
@import "./toolTip.less";
@import "./paneledOptions.less";


body {
    background-color: @background-color;
    color: @text-color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    @media (width <= @max-size-before-element-reaction) {font-size: @small-font-size;}

    font-size: @body-font-size;

    min-height: 100vh;
}

img {
    max-width: 80%;
}

.icon {
    aspect-ratio: 1;
    max-height: 1.5em;    
    transition: transform 0.3s ease-in-out;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    padding: 0; 
    margin: 0;

    font-family: inherit;
    font-size: inherit;
}

.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}