@body-font-size: 20px;
@small-font-size: calc(@body-font-size / 2);

@margin-size: 1em;

@header-margin-size:  calc(@margin-size / 2);

@paragraph-margin: calc(@margin-size);
@article-side-padding: 3em;
@article-top-padding: 1em;
@standard-padding: 0.5em;

@title-font-size: 2.5 * @body-font-size;

@pop-color: rgb(152, 161, 188);
@background-color : rgb(85, 88, 121); // rgba(80, 2, 73, 0.658);
@article-color:  rgb(222, 211, 196);
@text-color: rgb(80, 80, 80);
@hover-color: darken(@pop-color, 10%);
@fade-background-color: darken(@article-color, 20%);

@max-size-before-element-reaction: 500px;

@video-game-character-amount: 50;