@import "./variables.less";

#custom-article {
    background-color: @article-color;
    width: 70vw; 
    margin-left: 15vw; 
    min-height: 100vh;
    padding: @article-padding;

    figure {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: @margin-size;
    }
}

// .centered-contents {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .spaced-content {
//     margin: @margin-size;
// }